@charset "utf-8";
// 默认样式
// 主字体样式
$default-primary-txt: #333;
// 次要字体样式
$default-minor-txt: #ccc;
// 重要字体样式
$default-warning-txt: #FF5D1C;
// 边框颜色
$default-border: #dcdfe6;
// 输入框字体颜色
$default-input-txt: #606266;
// foucs时输入框边框
$default-focus-border: #409eff;
// hover/时输入框边框
$default-hover-border: #c0c4cc;
// primary按钮active时的边框
$default-primary-btn-active: #3a8ee6;
// primary按钮hover/focus的边框
$default-primary-btn-hover: #66b1ff;